<li>
  <div class="col-md-1"><%= week.monday %></div>
  <div class="col-md-1"><%= week.tuesday %></div>
  <div class="col-md-1"><%= week.wednesday %></div>
  <div class="col-md-1"><%= week.thursday %></div>
  <div class="col-md-1"><%= week.friday %></div>
  <div class="col-md-1"><%= week.saturday %></div>
  <div class="col-md-1"><%= week.sunday %></div>
</li>
