<% provide(:title, "Home") %>
<div class="row"
  <div class="col-md-8">
    <div id="welcome">
      <h1>Welcome to Franklin</h1>
    </div>
  </div>
</div>
<div class="container" id="intro">
  <p>Benjamin Franklin was a master of self-improvement. How did Franklin rise from being one of 10 children, whose formal education ended at age 10, to become one of the leading statesmen and scientists of his day?</p>
<p>At age 20, he developed a system of 13 virtues, focused on practicing one virtue each week for 13 weeks. He continued to use this system to improve himself for the rest of his life. Try it yourself!</p>
</div>
<div id="sign-up">
  <h3>Sign up here:</h3>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 navbar-form">
      <%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages' %>
        <%= f.text_field :name, class: "form-control", placeholder: "Name" %>

	<%= f.text_field :email, class: "form-control", placeholder: "Email" %>

	<%= f.password_field :password, class: "form-control", placeholder: "Password" %>
	<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation" %>

        <%= f.submit "Sign up", class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>

