<header class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="nav navbar-nav navbar-left">
	  <% if logged_in? %>
            <a><%= link_to "Franklin", new_week_path, id: "home-button" %></a>
	  <% else %>
	    <a><%= link_to "Franklin", root_path, id: "home-button" %></a>
	  <% end %>

	</div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
	  <% if logged_in? %>
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		Account<b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu">
	        <li><%= link_to "Profile", weeks_path %></li>
	        <li><%= link_to "Settings", edit_user_path(current_user)%></li>
		<li class="divider"></li>
		<li>
		  <%= link_to "Log out", logout_path, method: "delete" %>
		</li>
	      </ul>
	    </li>
	  <% else %>
            <li id="sign-in"><button type="button" class="btn btn-default navbar-btn"><%= link_to "Sign In", login_path %></button></li>
	  <% end %>
        </ul>
    </div>
</header>

